html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

.fundo{
    height: 100vh;
    display: flex;
    background-color: #01001B;
}

.head{
    height: 100vh;
    width: 25%;
    background-color: white;
}

.parteCima{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 45vh;
    border-bottom: 1px solid black;
}

.parteCima p {
    font-size: 50px;
}

.parteCima span {
    font-size: 25px;
}

.parteBaixo{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 28vh;
    /* border: 1px solid black; */
}

button{
    height: 60px;
    width: 150px;
    border-radius: 20px;
    border: none;
    background-color: rgb(132, 97, 236);
    color: white;
    font-size: 20px;
}

.sair{
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    height: 22vh;
    /* border: 1px solid black; */
}

.sair p{
    font-size: 25px;
}

/* DASHBOARD */
.dash{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: end;
    /* border: 1px solid red; */
}

.mensagem{
    display: flex;
    font-size: 35px;
    color: white;
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
}

.conteudo{
    display: flex;
    height: 80%;
    width: 100%;
}

.grafico{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    height: 100%;
    width: 50%;
    /* border: 1px solid red; */
}

.kpis{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 100%;
    width: 45%;
    /* border: 1px solid rgb(0, 179, 255); */
    color: black;
}

.kpis p{
    font-size: 45px;
    text-align: center;
}

.kpi1{
    display: flex;
    justify-content: center;
    background-color: rgb(57, 124, 51);
    align-items: center;
    border-radius: 70%;
    width: 200px;
    height: 200px;
}


.kpi2{
    display: flex;
    background-color: rgb(147, 54, 54);
    justify-content: center;
    align-items: center;
    border-radius: 70%;
    width: 200px;
    height: 200px;
}

.linha{
    display: flex;
    border: 1px solid rgb(132, 97, 236);
    background-color: rgba(2, 7, 50, 0.338);
    height: 50%;
    width: 80%;
}